layout {
    pane_template name="yazi" {
        command "~/.config/zellij/scripts/yazi.sh"
    }
    pane_template name="bacon" {
        command "bacon"
        args "test"
    }
    pane split_direction="vertical" {
        yazi name="CODE" focus=true size="68%"
        pane split_direction="horizontal" {
            bacon name="BACON"
            pane name="TERM"
            children
        }
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
}
