layout {
    default_tab_template {
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
    }
    pane_template name="data" {
        // Change this directory to wherever you keep the data to serve
        cwd "~/Documents/Data/"
        command "bun"
        args "serve"

    }
    pane_template name="yazi" {
        command "~/.config/zellij/scripts/yazi.sh"
    }
    pane_template name="dev" {
        command "bun"
        args "dev"
    }
    tab name="s2maps-gpu" cwd="~/Documents/Projects/OpenS2/s2maps-gpu" {
        pane split_direction="vertical" {
            pane split_direction="horizontal" size="68%" stacked=true {
                yazi name="S2 Maps GPU" focus=true expanded=true
                pane name="TERMINAL"
            }
            pane split_direction="horizontal" {
                data name="DATA"
                dev name="DEVELOP"
                children
            }
        }
    }
}
