layout {
    default_tab_template {
        children
        // STATUS BAR
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                // weather
                format_left "#[fg=#49507a,bg=#89b4fa,bold] {command_weather}#[fg=#89b4fa]"
                format_center "{mode}"
                // DATE
                format_right  "#[fg=#f5e0dc]{datetime}#[bg=#f5e0dc]"
                format_space ""

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#a6e3a1]{char}"
                border_position "bottom"

                mode_normal "#[fg=#49507a]#[bg=#49507a]  #[fg=#f9e2af,bg=#49507a]#[fg=#49507a,bg=#f9e2af,bold] G#[fg=#f9e2af,bg=#49507a]#[bg=#49507a]  #[fg=#f9e2af,bg=#49507a]#[fg=#49507a,bg=#f9e2af,bold] P#[fg=#f9e2af,bg=#49507a]#[bg=#49507a]  #[fg=#f9e2af,bg=#49507a]#[fg=#49507a,bg=#f9e2af,bold]󰓩 T#[fg=#f9e2af,bg=#49507a]#[bg=#49507a]  #[fg=#f9e2af,bg=#49507a]#[fg=#49507a,bg=#f9e2af,bold]󰉿 N#[fg=#f9e2af,bg=#49507a]#[bg=#49507a]  #[fg=#f9e2af,bg=#49507a]#[fg=#49507a,bg=#f9e2af,bold] H#[fg=#f9e2af,bg=#49507a]#[bg=#49507a]  #[fg=#f9e2af,bg=#49507a]#[fg=#49507a,bg=#f9e2af,bold] S#[fg=#f9e2af,bg=#49507a]#[bg=#49507a]  #[fg=#f9e2af,bg=#49507a]#[fg=#49507a,bg=#f9e2af,bold] O#[fg=#f9e2af,bg=#49507a]#[bg=#49507a]  #[fg=#f9e2af,bg=#49507a]#[fg=#49507a,bg=#f9e2af,bold] Q#[fg=#f9e2af,bg=#49507a]#[bg=#49507a]  #[fg=#89b4fa,bg=#49507a]#[fg=#49507a,bg=#89b4fa,bold]󰯍 []#[fg=#89b4fa,bg=#49507a]#[bg=#49507a]  #[fg=#49507a]"
                mode_locked "#[fg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold] G#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#49507a]"
                mode_session "#[fg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]󰋮  D#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]  W#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]󰄲  ENTER#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#49507a]"
                mode_resize "#[fg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]󰩨  +|-#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]󱍬      #[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]󱍩  HJKL#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]󰄲  ENTER#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#49507a]"
                mode_pane "#[fg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]  N#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]J   K#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]H  L#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]󰑕  C#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]󰼫  F#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]󰉧  W#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]  E#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]󰄲  ENTER#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]  X#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#49507a]"
                mode_tab "#[fg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]  N#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]J   K#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]󰑕  R#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]󱍸  S#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]󰋮  B#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]󰔡  TAB#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]󰄲  ENTER#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]  X#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#49507a]"
                mode_scroll "#[fg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]  S#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]󰠽  U#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]󰧩  D#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]󰑕  E#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]󰄲  ENTER#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#49507a]"
                mode_enter_search "#[fg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]󰄲  ENTER#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#49507a]"
                mode_search "#[fg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]󰠽  U#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]󰧩  D#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]󰒮  N#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]󰒭  P#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]  W#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]󰬶  C#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]  O#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]󰄲  ENTER#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#49507a]"
                mode_rename_tab "#[fg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]J   K#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]󰄲  ENTER#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#49507a]"
                mode_rename_pane "#[fg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]J   K#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]󰄲  ENTER#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#49507a]"
                mode_move "#[fg=#49507a]#[bg=#49507a]  #[fg=#f5c2e7,bg=#49507a]#[fg=#49507a,bg=#f5c2e7,bold]J   K#[fg=#f5c2e7,bg=#49507a]#[bg=#49507a]  #[fg=#49507a]"
                mode_prompt ""
                mode_tmux ""
                mode_default_to_mode "normal"

                notification_format_unread           "#[fg=#89b4fa,bg=#181825,blink]  #[fg=#89b4fa,bg=#181825] {message} "
                notification_format_no_notifications "#[fg=#89b4fa,bg=#181825,dim]   "
                notification_show_interval           "10"

                // https://github.com/dj95/zjstatus/wiki/3-%E2%80%90-Widgets#command

                // render mode of the command. ["static", "dynamic", "raw"]
                //
                // "static"  :: format the command with the given format from the config and don't
                //              consider any other formatting directives
                // "dynamic" :: format the command based on the command output. When the command
                //              output contains formatting strings for zjstatus, zjstatus will
                //              try to render them. This might lead to unexpected behavior, in case
                //              the formatting is not correct.
                // "raw"     :: do not apply any formatting. This can be used to properly render
                //              ansi escape sequences from the command output.

                // WEATHER
                // the command that should be executed
                command_weather_command "curl \"wttr.in/Salt+Lake+City?format=%c+%t+%m+%w\""
                // themeing and format of the command
                command_weather_format "{stdout}"
                // interval in seconds, between two command runs
                command_weather_interval "10800" // three hours
                command_weather_rendermode "raw"

                datetime "#[fg=#49507a,bg=#f5e0dc,bold] 󱑆 {format} "
                datetime_format "%A, %d %b %Y %H:%M"
                datetime_timezone "America/Denver"
            }
        }
        // TAB BAR
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left "{mode} #[fg=#f5e0dc,bold] {session}"
                format_center "#[fg=#49507a]#[bg=#49507a]  {tabs}#[bg=#49507a]  #[fg=#49507a]"
                // lets keep git and notifications off for now
                // Spotify
                format_right "#[fg=#a6e3a1]#[fg=#49507a,bg=#a6e3a1,bold] 󰓇  {command_spotify}"
                format_space  ""

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#a6e3a1]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"

                mode_normal "#[fg=#a6e3a1,bg=#49507a,bold]  UNLOCKED#[fg=#49507a]"
                mode_locked "#[fg=#49507a,bg=#a6e3a1,bold]  LOCKED#[fg=#a6e3a1]"
                mode_session "#[fg=#f5e0dc,bg=#f38ba8,bold]  {name}#[fg=#f38ba8]"
                mode_resize "#[fg=#49507a,bg=#f9e2af,bold] 󰉿 {name}#[fg=#f9e2af]"
                mode_pane "[fg=#49507a,bg=#89b4fa,bold]  {name}#[fg=#89b4fa]"
                mode_tab "#[fg=#49507a,bg=#f5c2e7,bold] 󰓩 {name}#[fg=#f5c2e7]"
                mode_scroll "#[fg=#49507a,bg=#f9e2af,bold] 󱕒 {name}#[fg=#f9e2af]"
                mode_enter_search "#[fg=#49507a,bg=#fab387,bold]  {name}#[fg=#fab387]"
                mode_search "#[fg=#49507a,bg=#fab387,bold]  {name}#[fg=#fab387]"
                mode_rename_tab "#[fg=#49507a,bg=#f5c2e7,bold] 󰑕 {name}#[fg=#f5c2e7]"
                mode_rename_pane "#[fg=#49507a,bg=#f5c2e7,bold]  {name}#[fg=#f5c2e7]"
                mode_move "#[fg=#f5e0dc,bg=#f38ba8,bold]  {name}#[fg=#f38ba8]"
                mode_prompt "#[fg=#49507a,bg=#a6e3a1,bold]  {name}#[fg=#a6e3a1]"
                mode_tmux "#[fg=#49507a,bg=#a6e3a1,bold]  {name}#[fg=#a6e3a1]"
                mode_default_to_mode "normal"

                tab_normal "#[fg=#f5e0dc,bg=#49507a]#[fg=#49507a,bg=#f5e0dc,bold]{name}#[fg=#f5e0dc,bg=#49507a]"
                tab_normal_fullscreen "#[fg=#f5e0dc,bg=#49507a]#[fg=#49507a,bg=#f5e0dc,bold]{name}  #[fg=#f5e0dc,bg=#49507a]"
                tab_normal_sync "#[fg=#f5e0dc,bg=#49507a]#[fg=#49507a,bg=#f5e0dc,bold]{name}  #[fg=#f5e0dc,bg=#49507a]"

                tab_active "#[fg=#a6e3a1,bg=#49507a]#[fg=#49507a,bg=#a6e3a1,bold]{name}#[fg=#a6e3a1,bg=#49507a]"
                tab_active_fullscreen "#[fg=#a6e3a1,bg=#49507a]#[fg=#49507a,bg=#a6e3a1,bold]{name}  #[fg=#a6e3a1,bg=#49507a]"
                tab_active_sync "#[fg=#a6e3a1,bg=#49507a]#[fg=#49507a,bg=#a6e3a1,bold]{name}  #[fg=#a6e3a1,bg=#49507a]"

                tab_separator "#[fg=49507a,bg=#49507a] "

                // SPOTIFY
                // the command that should be executed
                command_spotify_command "zsh /Users/craigoconnor/.config/zellij/scripts/spotfiy.sh"
                // themeing and format of the command
                command_spotify_format "#[fg=#49507a,bg=#a6e3a1,bold]{stdout} "
                // interval in seconds, between two command runs
                command_spotify_interval "10" // ten seconds
                command_spotify_rendermode "dynamic"
            }
        }
    }

    pane_template name="nvim" {
        command "nvim"
    }

    tab name="Zellij" cwd="~/.config/zellij" {
        nvim name="CODE"
    }
}
